<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
<style>
.container {
  max-width: 400px;
  margin: 40px auto;
}
body {
  background-image: url('/static/karl-lee-ux0fOlB5b8M-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<title>VirtQueue - Logout</title>
</head>
<body>
<div class="container">
  <h2>Logged Out</h2>
  <p>You have successfully logged out of VirtQueue.</p>
    <p>It's a good idea to close all browser windows.</p>
</div>
</body>
</html>