<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous">
<title>New Order</title>
<style>
.form-field {
  max-width: 400px;
  margin: 40px auto;
}
</style>
<!-- <nav>
  <a href="#" class="brand">
    <span>VirtQueue</span>
    <label for="bmenu" class="burger toggle pseudo button">menu</label>
  </a>
  <div class="menu">
    <a href="/logout" class="button error">Log Out</a>
  </div>
  <div class="menu">
    <a href="#" class="button icon-paper-plane">New Order</a>
  </div>
</nav> -->
</head>
<body>
<div class="container"><br>
<div class="formwrapper">
<div class="row align-items-center justify-content-center text-center">
<div class="col-md-6">
  <h2 class="title">New Order</h2>
  <form class="form" method="POST" action="/admin/new">
      {{ form.csrf_token }}
      <div class="form-field">
      {{ form.telephonenumber(placeholder='enter customer phone number') }}</div>
      <br>
      <div class="form-field">
      {{ form.ordr(placeholder='enter customer order') }}
      </div>
      <br>
      <center>
      <button type="submit" class="btn btn-success"><i class="far fa-paper-plane fa-fw"></i>Submit To Queue</button>
      </center>
  </form>
  <center><p><a href="{{ url_for('admin') }}"><i class="fas fa-arrow-circle-left fa-lg"></i></a></p></center>
</div>
</div>
</div>
</div>
</body>
</html>