<html>
<head>
  <title>VirtQueue - Queueing in Progress</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
  <link rel="stylesheet" href="../static/queue.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<nav>
  <a href="/admin" class="brand">
    <span>VirtQueue</span>
    <label for="bmenu" class="burger toggle pseudo button">menu</label>
  </a>
</nav>
<div class='container'>
  <h1>Your in a VirtQueue</h1>
  <div id="target_div">connecting...</div>
  <h4>Pick-Up Location: Your Address Goes Here</h4>
  <iframe width="100%" height="300px" frameborder="0" allowfullscreen src="//umap.openstreetmap.fr/en/map/untitled-map_452455?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false"></iframe>
  <button button id="myBtn">What is a VirtQueue?</button>
</div>
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>What is VirtQueue?</h1>
      <p>You are currently in a VirtualQueue.</p>
      <p>When your item is ready for collection you will be sent a text from the number you provided.</p>
      <p>Alternatively stay on this page and get live updates!</p>
  </div>
</div>
<script src="../static/queuemodal.js"></script>
<!-- Live Updates pushed content -->
<script nonce="{{ csp_nonce() }}">
var targetContainer = document.getElementById("target_div");
var eventSource = new EventSource("/stream/{{ queueid }}")
eventSource.onmessage = function(e) {
    targetContainer.innerHTML = e.data;
};
</script>
</html>
